.filter {
  // h6 {
  //     font-weight: 700;
  //     font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
  //       Roboto, Helvetica, Arial, sans-serif;
  //   }
  .category {
    margin-top: 18px;
    .formlabel {
      margin-top: 12px;
      .selectdropdown {
        border: 1px solid #c3d1d4;
        background-color: #fff;
        padding: 0;
        border-radius: 4px;
        border-radius: 4px;
        width: 200px;
        height: 40px;
      }
    }
  }
  .categorybutton{
    margin-top: 24px;
  }
  .colorcheckbox{
    margin-top: 18px;
  }
}
