.productlist {
    padding: 20px 40px;
  max-width: 1400px;
  margin: 0 auto;
}

img {
    object-fit: cover;
}

.productcard{
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .productcard {
      flex-grow: 1 !important;
      flex-basis: 25% !important;
      max-width: 25% !important;
    }
  }
 
@media only screen and  (max-width: 900px) and (min-width: 640px) {
  .productcard {
    flex-grow: 1 !important;
    flex-basis: 33.3333333333% !important;
    max-width: 33.3333333333% !important;
  }

  img {
    object-fit: contain;
}
}



@media only screen and (max-width: 640px) {

    .productlist {
        padding: 20px 16px;
      max-width: fit-content;
      margin: 0 auto;
    }
  .productcard {
    flex-grow: 1 !important;
    flex-basis: 50% !important;
    max-width: 50% !important;
  }

  img {
    object-fit: contain;
}
}


