.cart {
  flex-direction: row !important;

  .product {
    width: 90%;
    .productcontainer {
      flex-direction: row !important;
      .productimage {
        // flex-grow: 1;
        // flex-basis: 20%;
        max-width: 25%;
        padding: 32px 8px 0px 8px;
      }
      .productinfo {
        // flex-grow: 1;
        // flex-basis: 50%;
        // max-width: 50%;
        padding: 40px 8px 0px 8px;
        gap: 8px;
      }
      .discountedPrice {
        font-weight: 700;
      }
      .price {
        text-decoration: line-through;
        color: #878787;
      }
      .discountPercent {
        color: #388e3c;
      }
    }
  }
  .checkoutbox {
    width: 30%;
    // height: 600px;
    // border: 1px solid red;
    padding: 24px;
    .title{
        // font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #212121 !important;
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif
    }
    .subtitle{
        // font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #222 ;
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif
    }
    .savingtext{
        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #219f27 !important;
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Helvetica, Arial, sans-serif !important;
        }
    }
  }
}
@media screen and (max-width: 640px) {
  .cart {
    flex-direction: column !important;
    .product {
        width: 100%;
      .productcontainer {
        flex-direction: column !important;
        width: 100%;
        .productimage {
        //   flex-grow: 1;
        //   flex-basis: 100%;
          max-width: 100%;
          padding: 16px 8px 0px 8px;
          align-items: center;
        }
        .productinfo {
        //   flex-grow: 1;
        //   flex-basis: 100%;
        //   max-width: 100%;
          padding: 24px 8px 0px 8px;
        }
      }
    }
    .checkoutbox {
        width: 100%;
        // height: 600px;
        // border: 1px solid red;
        padding: 16px;
      }
  }
}
