.box {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .container {
    gap: 24px;
    .card {
      flex-grow: 1;
      flex-basis: 23%;
      max-width: 24%;
      padding: 16px;
      cursor: pointer;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .productimage {
        height: 200px;
        width: 100%;
        object-fit: contain;
      } 
    }

    .card:hover img {
      transform: scale(1.06); /* Increase the scale factor for stronger zoom effect */
    }
  }
}



@media screen and (max-width: 640px) {
  .box {
    margin: 24px;
    .container {
      gap: 16px;
      .card {
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 100%;
        .productimage {
          //   flex-grow: 1;
          //   flex-basis: 50%;
          //   max-width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .box {
    margin: 24px;
    .container {
      gap: 16px;
      .card {
        flex-grow: 1 !important;
        flex-basis: 32% !important;
        max-width: 32% !important;
        .productimage {
            object-fit: contain;
          //   flex-grow: 1;
          //   flex-basis: 50%;
          //   max-width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) and (min-width: 640px) {
  .box {
    margin: 24px;
    .container {
      gap: 16px;
      .card {
        flex-grow: 1 !important;
        flex-basis: 48% !important;
        max-width: 48% !important;
        .productimage {
            object-fit: contain;
          //   flex-grow: 1;
          //   flex-basis: 50%;
          //   max-width: 50%;
        }
      }
    }
  }
}
