.productcontainer {
  flex-direction: row !important;
  .productimage {
    flex-grow: 1;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 32px 8px 0px 8px;
  }
  .productinfo {
    flex-grow: 1;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 60px 8px 0px 8px;
    // .productTitle{

    // }
    .button {
      width: fit-content;
      font-size: 14px;
    }
  }
  .discountedPrice {
    font-weight: 700;
  }
  .price {
    text-decoration: line-through;
    color: #878787;
  }
  .discountPercent {
    color: #388e3c;
  }
}
@media screen and (max-width: 640px) {
  .productcontainer {
    flex-direction: column !important;
    .productimage {
      flex-grow: 1;
      flex-basis: 100%;
      max-width: 100%;
      padding: 16px 8px 0px 8px;
    }
    .productinfo {
      flex-grow: 1;
      flex-basis: 100%;
      max-width: 100%;
      padding: 24px 16px 24px 16px;
    }
  }
}

@media screen and (max-width: 300px) {
  .productcontainer {
    flex-direction: column !important;
    .productimage {
      flex-grow: 1;
      flex-basis: 100%;
      max-width: 100%;
      padding: 16px 8px 0px 8px;
    }
    .productinfo {
      flex-grow: 1;
      flex-basis: 100%;
      max-width: 100%;
      padding: 24px 16px 24px 16px;
      .productTitle {
        font-size: 20px;
      }
      .button {
        width: fit-content;
        font-size: 12px;
      }
    }
  }
}
