.boxContainer {
  //   align-items: center;
  .formcontainer {
    // border: 1px solid red;
    margin-top: 120px;
    gap: 24px;
    background: #fff;
    align-items: center;
    .form {
      margin: 16px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 8px;
      padding: 8px 0px 8px 0px;
      .formText {
        text-align: center;
        margin: 0px 0px 8px 0px;
      }
      .formfield {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 16px 0px;
        width: 80%;
        max-width: 400px;
      }
    }
    // align-items: center;
  }
}
