.boxContainer {
  //   align-items: center;
  .formcontainer {
    // border: 1px solid red;
    margin-top: 88px;
    gap: 24px;
    background: #fff;
    align-items: center;
    .resetPasswordFormContainer {
      .formHeading {
        text-align: center;
        font-size: 24px;
        color: #000;
        font-weight: 500;
        padding: 0px 8px;
      }
    }
    .form {
      margin: 16px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 8px;
      padding: 8px 0px 8px 0px;
      .formText {
        text-align: center;
        margin: 16px 0px 24px 0px;
        font-size: 16px;
        color: #000;
        font-weight: 500;
      }
      .formfield {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 16px 0px;
        width: 80%;
        max-width: 400px;
      }
    }
    // align-items: center;
    .passwordSucessForm {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 8px;
      padding: 24px 32px 24px 32px;
      margin: 24px;
      gap: 24px;
      .resetPasswordText {
        font-size: 16px;
        color: #000;
        font-weight: 500;
        text-align: center;
      }
      .imageSection {
        flex-direction: row;
        justify-content: center;
        .image {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .boxContainer {
    //   align-items: center;
    .formcontainer {
      // border: 1px solid red;
      margin-top: 120px;
      gap: 24px;
      background: #fff;
      align-items: center;

      // align-items: center;
      .passwordSucessForm {
        padding: 16px;
        margin: 16px;
        gap: 24px;
        .resetPasswordText {
          font-size: 16px;
          color: #000;
          font-weight: 500;
          text-align: center;
        }
        .imageSection {
          flex-direction: row;
          justify-content: center;
          .image {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
