.navbar{
    padding: 12px 40px;
    // max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    top: 100px;
    z-index: 100;
    background: #fff;
    .label{
        margin: 0px 2px;
        color: #67718B;
    }
    .labeltext{
        margin: 0px 2px;
    }
}

@media screen and (max-width:640px) {
    .navbar{
    padding: 12px 16px;
    }
}