.snackBarContainer {
  position: absolute;
  top: 64px;
}

.resetPasswordBoxContainer {
  .resetPasswordForm {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    .textBox {
      width: 88%;
      margin-bottom: 16px;
      .textTitle {
        font-size: 16px;
        color: #000;
        font-weight: 500;
      }
    }
    .createPassword {
      width: 88%;
      margin: 16px 0px;
      .textTitle {
        font-size: 16px;
        color: #000;
        font-weight: 500;
      }
    }
    .resetForm {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      margin: 4px 16px;
    }
    .resetPasswordButton {
    }
  }
}

@media screen and (max-width: 640px) {
  .resetPasswordBoxContainer {
    .resetPasswordForm {
      padding: 8px;
    }
  }
}

@media screen and (max-width: 300px) {
  .resetPasswordBoxContainer {
    width: calc(100% - 24px);
  }
}
